.cl {
  *zoom: 1;
}
.cl:before, .cl:after {
  content: "";
  display: table;
}
.cl:after {
  clear: both;
}

/*  CONTACT WIDGET
	---------------- */
.contact-email,
.contact-phone,
.contact-fax {
	color: #999;
	display: block;
	margin-bottom: 5px;
	padding-left: 25px;
	position: relative;
}

.contact-email:after,
.contact-phone:after,
.contact-fax:after {
	background: url("../img/contact.png") no-repeat 0 0;
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
}

.contact-email:after {
	background-position: -4px -8px;
	height: 11px;
	width: 15px;
}

.contact-phone:after {
	background-position: -34px -3px;
	height: 16px;
	width: 16px;
}

.contact-fax:after {
	background-position: -65px -5px;
	height: 15px;
	width: 18px;
}

/*  FLICKR WIDGET
	----------------- */
.flickr-photos {
	overflow: hidden;
}

.flickr-photos ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.flickr-photos li {
	border-bottom: 0;
	display: inline;
	float: left;
	margin-right: 5px;
}

.flickr-photos img {
	background: white;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid #d0d0d0;
	padding: 3px;
}

/*  OPENING HOURS WIDGET
    ----------------- */
.opening-hours li {
	border-bottom: none;
	padding-top: 0;
}

.opening-hours .day {
	font-weight: 700;
	display: -moz-inline-stack;
	-moz-box-orient: vertical;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	*zoom: 1;
	width: 130px;
}

/*  SOCIAL CONNECT WIDGET
    ----------------- */
.social-network ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.social-network li {
	border-bottom: 0;
	display: inline;
	float: left;
	margin: 0 5px 5px 0;
}

.social-network a {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	display: block;
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	height: 40px;
	width: 40px;
}

.rssfeed {
	background: url("../img/social-icons.png") no-repeat -162px -51px;
}
.rssfeed:hover {
	background-position: -162px -9px;
}

.email {
	background: url("../img/social-icons.png") no-repeat -212px -51px;
}
.email:hover {
	background-position: -212px -9px;
}

.twitter {
	background: url("../img/social-icons.png") no-repeat -12px -51px;
}
.twitter:hover {
	background-position: -12px -9px;
}

.fb {
	background: url("../img/social-icons.png") no-repeat -62px -51px;
}
.fb:hover {
	background-position: -62px -9px;
}

.gplus {
	background: url("../img/social-icons.png") no-repeat -262px -51px;
}
.gplus:hover {
	background-position: -262px -9px;
}

.ytube {
	background: url("../img/social-icons.png") no-repeat -112px -51px;
}
.ytube:hover {
	background-position: -112px -9px;
}

.flickr {
	background: url("../img/social-icons.png") no-repeat -312px -51px;
}
.flickr:hover {
	background-position: -312px -9px;
}

.linkedin {
	background: url("../img/social-icons.png") no-repeat -362px -51px;
}
.linkedin:hover {
	background-position: -362px -9px;
}

.pinterest {
	background: url("../img/social-icons.png") no-repeat -412px -51px;
}
.pinterest:hover {
	background-position: -412px -9px;
}

.dribbble {
	background: url("../img/social-icons.png") no-repeat -462px -51px;
}
.dribbble:hover {
	background-position: -462px -9px;
}

.github {
	background: url("../img/social-icons.png") no-repeat -512px -51px;
}
.github:hover {
	background-position: -512px -9px;
}

.lastfm {
	background: url("../img/social-icons.png") no-repeat -562px -51px;
}
.lastfm:hover {
	background-position: -562px -9px;
}

.vimeo {
	background: url("../img/social-icons.png") no-repeat -612px -51px;
}
.vimeo:hover {
	background-position: -612px -9px;
}

.tumblr {
	background: url("../img/social-icons.png") no-repeat -662px -51px;
}
.tumblr:hover {
	background-position: -662px -9px;
}

.instagram {
	background: url("../img/social-icons.png") no-repeat -712px -51px;
}
.instagram:hover {
	background-position: -712px -9px;
}

.soundcloud {
	background: url("../img/social-icons.png") no-repeat -762px -51px;
}
.soundcloud:hover {
	background-position: -762px -9px;
}

.behance {
	background: url("../img/social-icons.png") no-repeat -812px -51px;
}
.behance:hover {
	background-position: -812px -9px;
}

.deviantart {
	background: url("../img/social-icons.png") no-repeat -862px -51px;
}
.deviantart:hover {
	background-position: -862px -9px;
}

/*  TESTIMONIAL WIDGET
    ----------------- */
.user-testimonials .section-title {
	padding-top: 0;
}

.user-testimonials .testimonial-wrap {
	border: 1px solid #dddddd;
	position: relative;
}

.user-testimonials .testimonial-widget {
	height: 100%;
	width: 300px;
}

.user-testimonials .testimonial-item {
	border-bottom: 0;
	height: 100%;
	width: 100%;
}

.user-testimonials .inside {
	padding: 10px;
}

.user-testimonials .user-meta span {
	display: block;
	line-height: 1.8;
}

.user-testimonials .user-meta a {
	font-weight: 700;
}

.user-testimonials .rslides_nav {
	position: absolute;
	top: -35px;
	right: 0;
}

.user-testimonials .rslides_nav {
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	display: -moz-inline-stack;
	-moz-box-orient: vertical;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	*zoom: 1;
	height: 15px;
	width: 8px;
}

.user-testimonials .prev {
	background: url("../img/testimonial-left-arrow.png") no-repeat;
	right: 18px;
}

.user-testimonials .next {
	background: url("../img/testimonial-right-arrow.png") no-repeat;
}

/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}